body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.search-container {
    margin: 20px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.horizontal-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.card {
    width: 18rem;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: border 0.5s;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.highlight {
    border: 2px solid #f3dc14; /* Highlight the border for matched cards */
}

@keyframes flash {
    0% { background-color: inherit; }
    50% { background-color: #e8f40d; } /* Flashing color */
    100% { background-color: inherit; }
}