{% extends "base.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notepad.css' %}">

{% endblock %}

{% block title %}
    <title>Beautiful Notepad</title>
{% endblock %}

{% block body %}
<body>
    <h2>user: {{ name }}</h2>
    <div class="container">
        
        <form action="save" method="post">
            {% csrf_token %}
            {% if title is None %}
            <textarea id="note_title" name="note_title" placeholder="Your Title here..."></textarea>
            {% else %}
            <textarea id="note_title" name="note_title" placeholder="Your Title here...">{{title}}</textarea>
            {% endif %}        
            
            {% if title is None %}
            <textarea id="notepad" name="notes" placeholder="Your Notes here..."></textarea>
            {% else %}
            <textarea id="notepad" name="notes" placeholder="Your Notes here...">{{notes}}</textarea>
            {% endif %}        
            {% if title is None %}
            <input type="hidden" id="name" name="name" value="{{ name }}"/>
            
            {% else %}
            <input type="hidden" id="name" name="name" value="{{ name }}"/>
            {% endif %}
            <input type="hidden" id="msg" name="msg" value="{{ msg }}"/>
            <input type="hidden" id="prv_title" name="prv_title" value="{{ prv_title }}"/>
            <button type="submit">Save</button>
            
        </form>
    </div>
    <div class="form-container">
        <form action="diary"  method="post">
            {% csrf_token %}
            <input type="hidden" id="name" name="name" value="{{ name }}"/>
            <button class="diary-btn" type="submit">Diary</button>
        </form>
    </div>
</body>
{% endblock %}
