{% extends "base.html" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block style %}
    <style>
        body {
            margin: 0;
            padding: 20px;
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        div {
            max-width: 800px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            color: #2c3e50;
            font-size: 2em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2em;
            line-height: 1.6;
            color: #555;
        }

        /* Add more custom styles as needed */
    </style>
{% endblock %}

{% block body %}
    <div>
        <h1>{{ title }}</h1>
        {{ notes|safe }}
    </div>
{% endblock %}
