{% extends "base.html" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block style %}
    <style>
        body {
            margin: 0;
            padding: 20px;
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #333;
        }

        div {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Add more custom styles as needed */
    </style>
{% endblock %}

{% block body %}
    <div>
        {{ notes|safe }}
    </div>
{% endblock %}
